@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    color: #012869;
    transition: background 0.2s linear;
}

.container{
    width: 90%;
    height: 80%;
    border-radius: 10px;
    
}

.header{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 12px;
}

.header span{
    font-weight: 900;
    font-size: 20px;
    word-break: break-all;
}

#new{
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border:none;
    color: #012869;
    background-color: #f8f5f0;
    font-weight: bolder;
    transition: all .5s ease;
    margin-right: 10px;
    cursor: pointer;
}

#new:hover{
    transform: scale3d(1.1, 1.1, 1);
    color: white;
    background-color: #012869;
}

.table{
    padding: 20px;
    width: auto;
    height: inherit;
    overflow: auto;
    cursor: default;
}

.table::-webkit-scrollbar{
    width: 12px;
    background: whitesmoke;
}

.table::-webkit-scrollbar-thumb{
    border-radius: 10px;
}

form input{
    border: 0;
}

table{
    width: 100%;
    border-spacing: 10px;
    word-break: break-all;
    border-collapse: collapse;

}

thead{
    background-color:  #f8f5f0;
    border-radius: 10px;
}

tr{
    border-bottom: 1px solid rgb(238, 235, 235)!important;
}

tbody tr td{
    vertical-align: text-top;
    padding: 6px;
    max-width: 50px;
}

thead tr th{
    padding: 5px;
    text-align: start;
    margin-bottom: 50px;
}

tbody tr{
    margin-bottom: 50px;
}

thead tr th.action{
    width: 100px!important;
    text-align: center;
}

tbody tr td.action{
    text-align: center;
}

select{
    padding: 7px;
    width: 100%;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    border-width: 2px;
}

.modal-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}

.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #f8f5f0;
    border-radius: 10px;
    width: 50%;
}

.modal label{
    font-size: 14px;
    width: 100%;
}

.modal input{
    width: 100%;
    outline: none;
    padding: 5px 10px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.modal button{
    margin: 10px auto;
    outline: none;
    border-radius: 20px;
    padding: 10px;
    width: 50%;
    border: none;
    background-color: #012869;
    color: #f8f5f0;
    cursor: pointer;
}

#btnsave{
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active{
    display: flex;
}

.active .modal{
    animation: modal .4s;
}

@keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

td button{
    border: none;
    outline: none;
    background: transparent;
}

td button i{
    font-size: 25px;
}

td button i:first-child{
    margin-right: 10px;
}

.bx{
    color: #012869;
    cursor: pointer;
}

/*dark mood*/

.containerdark{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 10px;
}

.container h1{
    margin: 30px;
}

body.dark{
    background: #04101b;
    color: #213d6d ;
}

.checkbox{
    opacity: 0;
    position: absolute;
}

.label{
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}

.ball{
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball{
    transform: translateX(24px);
}
